

body{
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pickSize{
    margin-bottom: 30px;
}

.clearCanvas{
    margin-bottom: 30px;
}


.container{
    max-width: 960px;
    width: 960px;
    height: 500px;
    background: #808080;
    border: 1px solid black;
    display: grid;
}

.gridItem{
    word-break: break-all;
    border: 1px solid rgba(0, 0, 0, .5);
    background-color: grey;
}

.gridItemHover{
    
    border: 1px solid rgba(0, 0, 0, .5);
}